
*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: neueMachina;
    src: url('../fonts/NeueMachina-Light.otf');
}

body{
    background-color: black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.main::before{
    content: '';
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after{
    content: '';
    background-image: url(../img/background-botton.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 140vh;
    display:inline-block;
    position: fixed;
    bottom: -190px;
    right: 0;
    z-index: -1;
    background-position: bottom right;
}

@media only screen and (min-width: 768px){

    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}
